### Task 4.1

```sql
CREATE TABLE `Kiosk` (
    `KioskID` INTEGER UNIQUE PRIMARY KEY AUTOINCREMENT,
    `Location` TEXT,
    `Rating` REAL
);

CREATE TABLE `BentoBox` (
    `BentoName` TEXT UNIQUE PRIMARY KEY,
    `ProductionCost` REAL,
    `ContainEgg` INTEGER,
    `ContainNut` INTEGER,
    `ContainSeafood` INTEGER
);

CREATE TABLE `KioskBento` (
    `KioskID` INTEGER,
    `BentoName` TEXT,
    `SellPrice` REAL,
    FOREIGN KEY (`KioskID`) REFERENCES Kiosk(`KioskID`),
    FOREIGN KEY (`BentoName`) REFERENCES BentoBox(`BentoName`)
);

In [1]:
import sqlite3

In [3]:
# table creation using sqlite3 (J2 syllabus)

conn = sqlite3.connect("bento_company.db")

conn.execute(
    '''
    CREATE TABLE `Kiosk` (
        `KioskID` INTEGER UNIQUE PRIMARY KEY AUTOINCREMENT,
        `Location` TEXT,
        `Rating` REAL
    );
    '''
)

conn.execute(
    '''
    CREATE TABLE `BentoBox` (
        `BentoName` TEXT UNIQUE PRIMARY KEY,
        `ProductionCost` REAL,
        `ContainEgg` INTEGER,
        `ContainNut` INTEGER,
        `ContainSeafood` INTEGER
    );
    '''
)

conn.execute(
    '''
    CREATE TABLE `KioskBento` (
        `KioskID` INTEGER,
        `BentoName` TEXT,
        `SellPrice` REAL,
        FOREIGN KEY (`KioskID`) REFERENCES Kiosk(`KioskID`),
        FOREIGN KEY (`BentoName`) REFERENCES BentoBox(`BentoName`)
    ); 
    '''
)

conn.commit() # write the execute/commands
conn.close()

OperationalError: table `Kiosk` already exists

### Task 4.2

In [4]:
conn = sqlite3.connect("bento_company.db")

f_kiosk = open("KIOSK.txt", "r")

kiosk_list = []
for line in f_kiosk:
    id, location, rating = line.strip().split(",")
    kiosk_list.append(id)
    conn.execute(f"INSERT INTO Kiosk (`KioskID`, `Location`, `Rating`) VALUES ('{int(id)}', '{location}', '{float(rating)}')") # running sql command using sqlite3

f_kiosk.close()



f_bentobox = open("BENTOBOX.txt", "r")

bento_list = []
for line in f_bentobox:
    name, cost, egg, nut, seafood = line.strip().split(",")
    bento_list.append((name, float(cost)))
    conn.execute(f"INSERT INTO BentoBox (`BentoName`, `ProductionCost`, `ContainEgg`, `ContainNut`, `ContainSeafood`) VALUES ('{name}', '{float(cost)}', '{int(egg)}', '{int(nut)}', '{int(seafood)}')")

f_bentobox.close()



markup = [2.6, 2.9, 2.4, 3.1]
for i in range(len(bento_list)):
    for bento in bento_list:
        price = bento[1] + markup[i] # reads cost from bento_list
        conn.execute(f"INSERT INTO KioskBento (`KioskID`, `BentoName`, `SellPrice`) VALUES ('{id}', '{bento[0]}', '{float(price)}')")

conn.commit()
conn.close()

TypeError: 'list' object cannot be interpreted as an integer